@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700");
/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                       #3E1300 !default; // marro
$calm:                            #43cee6 !default; // azul
$balanced:                        #3E1300 !default;  //marro
$energized:                       #F35555 !default;  // rojo
$assertive:                       #FFAD00 !default;  //groc
$royal:                           #4ED854 !default; 
$dark:                            #333 !default;


// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;


@import "../../bower_components/ionic/scss/ionic";


// CUSTOM
.card{
    margin: 7px 6px 3px;
}
.color-alert{
    color: red !important;
}
.ok {
    font-size: 60px;
    padding: 19px 10px;
}

body{
    font-family: 'Open Sans', sans-serif;
    p{
        font-size: 10px !important;
        line-height: 1.2;
        color: #0A0A0A !important;
        padding: 0 0 6px 0;
        font-weight: 400;
    }
    .title-item-swing{
        padding: 5px 0 14px 0;
        font-weight: 700;
        font-size: 16px;
        font-family: 'Open Sans';
    }
    .subtitle-item-swing{
        font-weight: 100; 
        font-size: 16px;
        font-family: 'Open Sans';
        margin-top: 7px;
    }
    .title-nombre-swing {
        font-weight: 700;
        font-size: 11px;
    }
    /*HELPERS*/
    .align-right{
        text-align: right;
        float: right;
    }
    .align-left{
        text-align: left;
        float: left;
    }
}



ion-content.scroll-content.ionic-scroll.has-header.has-tabs {
    background-color: #D8D8D8;
}
.background-login{
    background-color: $positive !important;
}
.logo-login{
    margin: 0 auto;
    text-align: center;
    img{
        max-width: 100%;
        margin: 0 auto;       
    }
}

/*LOGIN*/
.maxi-width {
        max-width: 195px;
    margin: 21px auto 0;
}
.inpad{
    -webkit-box-sizing: border-box !important; 
    box-sizing: border-box !important;
    padding-left: 8px;
}
.input-label {
    width: 100%;

}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    height: 24px;
}



// BUTTONS
.button-small {
    padding: 0px 7px 0px;
    min-width: 28px;
    min-height: 21px;
    font-size: 10px;
    line-height: 16px;
}
.item-button-right > .button{
    top: 18px;
    right: 15px;
    min-width: 30px;
    min-height: 14px;
    font-size: 11px;
    line-height: 20px;
    padding: 0 6px;
}
.item-button-right > .button {
    top: 18px;
    right: 15px;
    min-width: 30px;
    min-height: 14px;
    line-height: 16px;
    padding: 0px 3px;
    font-size: 8px;
}
.button.button-dark {
    border-color: #ABABAB;
    background-color: #ABABAB;
    color: #fff;
}

/*BARCODE*/
.barcode.code128 {
    float: left;
    height: 100%;
    min-height: 10px;
}
.barcode.code128 > div.b {
    background: none repeat scroll 0 0 #000000;
    float: left;
    height: 100%;
}
.barcode.code128 > div.w {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 100%;
}
.barcode.code128 .w20 {
    width: 20px;
}
.barcode.code128 .w1 {
    width: 1px;
}
.barcode.code128 .w2 {
    width: 2px;
}
.barcode.code128 .w3 {
    width: 3px;
}
.barcode.code128 .w4 {
    width: 4px;
}
.barcode.code128 .w5 {
    width: 5px;
}
.barcode.code128 .w6 {
    width: 6px;
}
.barcode.code128 .w7 {
    width: 7px;
}
.barcode.code128 .w8 {
    width: 8px;
}
.barcode.code128 .w9 {
    width: 9px;
}
.barcode.code128 .w10 {
    width: 10px;
}
.barcode.code128 .b1 {
    width: 1px;
}
.barcode.code128 .b2 {
    width: 2px;
}
.barcode.code128 .b3 {
    width: 3px;
}
.barcode.code128 .b4 {
    width: 4px;
}
.barcode.code128 .b5 {
    width: 5px;
}
.barcode.code128 .b6 {
    width: 6px;
}
.barcode.code128 .b7 {
    width: 7px;
}
.barcode.code128 .b8 {
    width: 8px;
}
.barcode.code128 .b9 {
    width: 9px;
}
.barcode.code128 .b10 {
    width: 10px;
}
