<ion-view view-title="tab-ajustes">
  <ion-content>

	<div class="list">
		<a  class="item item-icon-left" href="#" ng-click="logout()">LogOut</a>

		<div class="item item-text-wrap">
	        <div ng-controller="HomeCtrl">
	          <button ng-click="changeLanguage('ca')" translate="BUTTON_TEXT_CA"></button>
	          <button ng-click="changeLanguage('it')" translate="BUTTON_TEXT_IT"></button>
	          <button ng-click="changeLanguage('es')" translate="BUTTON_TEXT_ES"></button>
	        </div>
	    </div>  		

	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-email"></i>
	    Check mail
	  </a>

	  <a class="item item-icon-left item-icon-right" href="#">
	    <i class="icon ion-chatbubble-working"></i>
	    Call Ma
	    <i class="icon ion-ios-telephone-outline"></i>
	  </a>

	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-mic-a"></i>
	    Record album
	    <span class="item-note">
	      Grammy
	    </span>
	  </a>

	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-person-stalker"></i>
	    Friends
	    <span class="badge badge-assertive">0</span>
	  </a>
	</div><!-- list -->

	<div class="list">

	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-email"></i>
	    Check mail
	  </a>

	  <a class="item item-icon-left item-icon-right" href="#">
	    <i class="icon ion-chatbubble-working"></i>
	    Call Ma
	    <i class="icon ion-ios-telephone-outline"></i>
	  </a>

	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-mic-a"></i>
	    Record album
	    <span class="item-note">
	      Grammy
	    </span>
	  </a>

	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-person-stalker"></i>
	    Friends
	    <span class="badge badge-assertive">0</span>
	  </a>
	</div><!--list -->	

	<div class="card">
	  <div class="item item-text-wrap">
	    Card
	    This is a basic Card which contains an item that has wrapping text.
	  </div>
	</div>

  </ion-content>
</ion-view>		