<ion-view view-title="AVISAR FALTA ASISTENCIA">

  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left" >
      <button class="button button-icon icon ion-ios-arrow-thin-left button-clear" ng-click="myGoBack()"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button button-icon ion-ios7-email-outline">
        <!-- <span class="badge badge-assertive">{{cursos.length}}</span> -->
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="has-header">
    <ion-list>
      <div class="card">

        <ion-item class="item item-text-wrap text-center" 
                  ng-repeat="curso in cursos | filter: { idCurso : idCurso }">
          <div class="title-item-swing">NO ASISTIRÉ A CLASE EL DÍA</div>
          <div><p><strong>{{curso.fechaClase}} a las {{curso.horaInicioClase}} horas<strong><p></div>
          
          <button class="button button-block button-dark text-center" 
                  ui-sref="main.cursoGraciasPorAvisar({idCurso : curso.idCurso})">
                  AVISAR NO ASISTENCIA<br>Seleccionaré día de recuperación en otro momento.
          </button>
          
          <button class="button button-block button-dark"
                  ui-sref="main.cursoRecuperacion({idCurso : curso.idCurso})">
                  AVISAR NO ASISTENCIA Y SELECCIONAR DÍA DE RECUPERACIÓN AHORA
          </button>
        </ion-item>

      </div><!-- card -->
  </ion-content>
</ion-view>