<ion-view view-title="AVISO NO ASISTENCIA">

  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left" >
      <button class="button button-icon icon ion-ios-arrow-thin-left button-clear"></button>
    </ion-nav-buttons>

    <!-- <ion-nav-buttons side="right">
      <button class="button button-icon ion-ios7-email-outline">
        <span class="badge badge-assertive">{{}}</span>
      </button>
    </ion-nav-buttons> -->
  </ion-nav-bar>

  <ion-content class="has-header">
    <ion-list> 
      <div class="card">

        <ion-item class="item item-text-wrap">
          <div class="title-item-swing">AVISO DE NO ASISTENCIA</div>
          <div  class="title-item-swing">CLAQUÉ (P2 - Principiantes 2)</div>
          <div><p>Jueves de 19:00 a 19:05h</p></div>
          <div><p>PRÓXIMAS CLASES</p></div>
        </ion-item>

        <ion-item class="item-button-right" ng-repeat="clase in user.clases">
            <div><p><span class="color-alert">Hoy<br></span>{{clase.fechaClase}}</p></div>
            <button class="button button-small button-dark" ng-click="avisarAsistencia(id)">AVISAR FALTA ASISTENCIA</button>
        </ion-item>

        <ion-item class="item item-text-wrap">
          <div class="title-item-swing">CLASES PASADAS</div>
        </ion-item>
        <ion-item class="item-button-right" ng-repeat="clase in user.clases">
            <div><p>{{}} {{clase.fechaClase}} (no viniste)</p></div>
            <button class="button button-small button-dark" ng-click="recuperarClase()">RECUPERAR CLASE</button>
        </ion-item>

        <ion-item class="item-divider">
          LEYENDA
        </ion-item>
      </div><!-- card -->

      <div class="card">
        <ion-item class="item item-text-wrap text-center">

          <div class="title-item-swing">NO ASISTIRÉ A CLASE EL DÍA</div>
          <div><p><strong>24/10/2015 alas 20:30 horas<strong><p></div>
          <button class="button button-block button-dark text-center">
            AVISAR NO ASISTENCIA<br>Seleccionaré día de recuperación en otro momento.
          </button>
          <button class="button button-block button-dark">
            AVISAR NO ASISTENCIA Y SELECCIONAR DÍA DE RECUPERACIÓN AHORA
          </button>
        </ion-item>
      </div><!-- card -->

    </ion-list>
  </ion-content>
</ion-view>