<ion-view view-title="CARNET / ENTRADAS">

  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left" >
      <button class="button button-icon icon ion-ios-arrow-thin-left button-clear" 
              ng-click="myGoBack()"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button button-icon ion-ios7-email-outline">
        <span class="badge badge-assertive">1</span>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

	<ion-content class="has-header">
		<ion-list>
			<div class="card">
				<ion-item class="">
					<div class="title-item-swing align-left">CARNET</div>
					<div class="align-right"><p>{{usuario.nombreUsuario}} {{usuario.apellidosUsuario}} / Carnet: {{usuario.numeroCarnetUsuario}}</p></div>
				</ion-item>

				<ion-item class="item-avatar-left item-text-wrap item-icon-right"><!-- item-button-right -->
					<img src="{{usuario.avatarUrlUsuario}}">
					<div barcode-generator="{{usuario.numBarcode}}" style="height:55px;"></div>
					<i ng-if="usuario.alumnoUsuario" class="icon ion-university"></i>
					<!-- <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSEUrRH52T0_qd18Q1vifYCOsFmwHtDNH6LCaGi0TWWCb2DrL95"> -->
				</ion-item>
			</div><!-- card -->
		</ion-list>

		<ion-list>
			<div class="card">
				<ion-item class="item-text-wrap">
					<div class="title-item-swing">ENTRADAS</div>
				</ion-item>

			    <ion-item class="item-avatar-left item-text-wrap  item-button-right" 
			    		  ng-repeat="entrada in entradas">
					<img src="{{entrada.imagenUrlEntrada}}">
					<p>{{entrada.fechaInicioEntrada}}</p>
					<p><strong>{{entrada.nombreEntrada}}</strong><br>
					<strong>( Swing Maniacs {{entrada.localidadEntrada}} )</strong><br>
					{{entrada.referenciaEntrada}}</p>

					<button class="button button-assertive" 
					        ui-sref="main.entradaDetail({idEntrada : entrada.idEntrada})">
						    VER ENTRADA
					</button>
			    </ion-item>
			</div><!-- card -->
		</ion-list>

	</ion-content>
</ion-view>
