<ion-view view-title="RECUPERAR CLASE">

  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left" >
      <button class="button button-icon icon ion-ios-arrow-thin-left button-clear" 
              ng-click="myGoBack()"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button button-icon ion-ios7-email-outline">
        <span class="badge badge-assertive">{{cursos.length}}</span>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="has-header">
    <ion-list>
      <div class="card">

        <ion-item class="item-text-wrap">
          <div class="title-item-swing">HEMOS REGISTRADO TU FALTA DE ASISTENCIA EL DÍA 24/10/2015</div>
          <br>
          <div class="subtitle-item-swing">SELECCIONA EL DÍA DE RECUPERACIÓN</div>
          <br>
        </ion-item>

        <ion-item>
            <div class="assertive">DÍAS PARA RECUPERAR CLASE (INDIVIDUAL)</div>
        </ion-item>

        <div ng-repeat="curso in cursos">
          <ion-item class="item-text-wrap item-button-right" ng-repeat="clase in curso.clases">
              <div>{{clase.diaClase}} {{clase.fechaClase}}</div>
              <button class="button button-small button-dark" 
                      ng-click="recuperarClase()">
                      SELECCIONAR</button>
          </ion-item><!-- ng-repeat <-->
        </div><!-- ng-repeat -->



        <ion-item class="item item-text-wrap">
          <div class="assertive">DÍAS PARA RECUPERAR CLASE (CON PAREJA)</div>
        </ion-item>

        <span ng-repeat="curso in cursos">
          <ion-item class="item-text-wrap item-button-right" ng-repeat="clase in curso.clases">
              <div>{{clase.diaClase}} {{clase.fechaClase}}</div>
              <button class="button button-small button-dark"
                      ng-click="recuperarClase()">
                      SELECCIONAR</button>
          </ion-item><!-- ng-repeat <-->
        </span><!-- ng-repeat -->



        <ion-item>
          <button class="button button-small button-dark"
                ui-sref="main.cursoGraciasPorAvisar({idCurso : curso.idCurso})">
                SELECCIONAR EL DÍA PARA RECUPERAR LA CLASE EN OTRO MOMENTO
          </button>
        </ion-item>


      </div><!--  card  -->
    </ion-list>
  </ion-content>
</ion-view>      