<ion-view view-title="CURSOS">

  <ion-nav-bar class="bar-positive">
  </ion-nav-bar>

  <ion-content class="has-header">
    <ion-list>
      <div class="card">

        <ion-item class="item item-text-wrap" ng-show="cursos.length > 0">
          <div class="title-item-swing">CURSOS ACTUALES</div>
          <div class="subtitle-item-swing"><p>Este trimentre vas mu bien, 4 cursos no es moco de pavo, si sigues así pronto te veremos participar en festivales internacionales.</p></div>
        </ion-item>

        <ion-item class="item-avatar-left item-text-wrap item-icon-right item-button-right" ng-repeat="curso in cursos">
              <img src="{{curso.imagenCurso}}">
              <div class="title-nombre-swing">{{curso.nombreCurso}}<span ng-show="{{curso.invitational}}"><br>(invitational)</span></div>
              <p>Quedan {{curso.numeroClasesLeft}} clases.</p>
              <p><strong>Lunes de {{curso.horaInicioClase}} a {{curso.horaFinalClase}}h<br>
              en SwingManiacs {{curso.localidadCurso}}</strong></p>
              <i class="icon ion-chevron-right icon-accessory" 
                  ui-sref="main.cursoDetail({idCurso : curso.idCurso})"></i>
              <button class="button button-assertive button-small"
                  ui-sref="main.cursoAvisarFaltaAsistencia({idCurso : curso.idCurso})"
              >AVISAR FALTA DE ASISTENCIA {{curso.idCurso}}</button>
        </ion-item>

        <ion-item>
              <button class="button button-dark button-small"
                  ui-sref="main.cursoAvisarFaltaAsistencia({idCurso : curso.idCurso})"
              >BUSCAR EN LA WEB MÁS CURSOS</button>
              <button class="button button-dark button-small"
                  ui-sref="main.cursoAvisarFaltaAsistencia({idCurso : curso.idCurso})"
              >VER CURSOS HECHOS</button>
        </ion-item>


      </div><!-- card -->
    </ion-list>
  </ion-content>
</ion-view>