<ion-view view-title="GRACIAS POR AVISAR">

  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left" >
      <button class="button button-icon icon ion-ios-arrow-thin-left button-clear" ng-click="myGoBack()"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button button-icon ion-ios7-email-outline">
        <!-- <span class="badge badge-assertive">{{cursos.length}}</span> -->
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="has-header">
    <ion-list>

      <div class="card">
        <ion-item class="text-center">
          <div class="ok"><i class="icon ion-ios-checkmark"></i></div>
          <div class="title-swing">GRACIAS POR AVISAR DAVID</div>
          <div><p>Hemos apuntado que no asistirás ala clase del día {{}}</p></div>
          <div><p>Recuerda que puedes seleccionar un día para recuperar la clse.</p></div>
          <div><p>Avisándono así nos das margen para cuadrar las clses.</p></div>
          <div><p>Thanks :)</p></div>
        </ion-item>
      </div>

    </ion-list>
  </ion-content>
</ion-view>      