<ion-view view-title="INFORMACIÓN CURSO">

  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left" >
      <button class="button button-icon icon ion-ios-arrow-thin-left button-clear" 
              ng-click="myGoBack()"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button button-icon ion-ios7-email-outline">
        <span class="badge badge-assertive">{{cursos.length}}</span>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="has-header">
    <ion-list>
      <div class="card">

        <ion-item class="item item-text-wrap  item-button-right" 
                  ng-repeat="curso in cursos | filter: { idCurso : idCurso }">
          <div class="title-item-swing">{{curso.nombreCurso}}</div>
          <div class="subtitle-item-swing">
            <p>Falta 1 día y 3:45 para hacer la clase, tienes ganas eh?</p>
          </div>
          <button class="button button-assertive button-small"
                  ui-sref="main.cursoAvisarFaltaAsistencia({idCurso : curso.idCurso})"
          >AVISAR FALTA DE ASISTENCIA</button>
        </ion-item>

        <ion-item class="item-avatar-left item-text-wrap item-icon-right item-button-right"  
                  ng-repeat="curso in cursos | filter: { idCurso : idCurso }">
          <img src="{{curso.imagenCurso}}">
          <div class="title-nombre-swing">{{curso.nombreCurso}}</div>
          <p ng-show="{{curso.invitational}}">( invitational )</p>

          <p>Quedan {{curso.numeroClasesLeft}} clases.</p>
          <p><strong>Lunes de {{curso.horaInicioClase}} a {{curso.horaFinalClase}}h<br>
          en SwingManiacs {{curso.localidadCurso}}</strong><br>
          Días festivos: {{curso.telefonoFestivosCurso}}</p>

          <p><strong>Profesores</strong></p>
          <div class="list">
            <a class="item item-avatar" href="#">
              <img src="http://25.media.tumblr.com/avatar_36610a525b3b_128.png">
              <h2>Marina Feliu</h2>
            </a>
            <a class="item item-avatar" href="#">
              <img src="http://25.media.tumblr.com/avatar_36610a525b3b_128.png">
              <h2>Pep Barrachina</h2>
            </a>
          </div>

          <p><strong>Más info</strong></p>
          <p>{{curso.descripcion}}</p>
        </ion-item>

      </div><!--  card  -->
    </ion-list>
  </ion-content>
</ion-view>