<ion-view view-title="AVISO NO ASISTENCIA">

  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left" >
      <button class="button button-icon icon ion-ios-arrow-thin-left button-clear"></button>
    </ion-nav-buttons>

    <!-- <ion-nav-buttons side="right">
      <button class="button button-icon ion-ios7-email-outline">
        <span class="badge badge-assertive">{{}}</span>
      </button>
    </ion-nav-buttons> -->
  </ion-nav-bar>

  <ion-content class="has-header">
    <ion-list> 
      <div class="card">

        <ion-item ng-repeat="curso in cursos | filter: { idCurso : idCurso }" class="item item-text-wrap">
          <div class="subtitle-item-swing">AVISO DE NO ASISTENCIA</div>
          <p></p>
          <p><strong>{{curso.nombreCurso}} ({{curso.referenciaCurso}})<br>
          Jueves de {{curso.horaInicioClase}} a {{curso.horaFinalClase}}h</p>
        </ion-item>

        <ion-item class="item item-text-wrap">
          <div class="title-item-swing">PRÓXIMAS CLASES</div>
        </ion-item>

        <div ng-repeat="curso in cursos | filter: { idCurso : idCurso }">
          <ion-item class="item-button-right" ng-repeat="clase in curso.clases">
              <div><p><span class="color-alert">Hoy<br></span>{{clase.nombreClase}}</p></div>
              <button class="button button-small button-dark"
                      ui-sref="main.avisarAsistencia({idCurso : curso.idCurso})">
                      AVISAR FALTA ASISTENCIA
              </button>
          </ion-item>
        </div><!-- ng-repeat -->



        <ion-item class="item item-text-wrap">
          <div class="title-item-swing">CLASES PASADAS</div>
        </ion-item>
        <ion-item class="item-button-right" ng-repeat="clase in user.clases">
            <div><p>{{}} {{clase.fechaClase}} (no viniste)</p></div>
            <button class="button button-small button-dark" 
                    ng-click="recuperarClase()">
                    RECUPERAR CLASE
            </button>
        </ion-item>

        <ion-item class="item-divider">
          LEYENDA
        </ion-item>
      </div><!-- card -->

    </ion-list>
  </ion-content>
</ion-view>