<ion-view view-title="ENTRADA DETALLE">

  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left" >
      <button class="button button-icon icon ion-ios-arrow-thin-left button-clear" 
              ng-click="myGoBack()"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button button-icon ion-ios7-email-outline">
        <span class="badge badge-assertive">2</span>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

	<ion-content class="has-header">
		<ion-list>
			<div class="card">
				<ion-item class="">
					<div class="title-item-swing align-left">ENTRADA</div>
				</ion-item>

				<ion-item ng-repeat="entrada in entradas | filter: { idEntrada : idEntrada }"
						 class="item-avatar item-text-wrap item-button-right">
					<img src="{{entrada.imagenUrlEntrada}}">
					<div barcode-generator="{{usuario.numBarcode}}" style="height:55px;"></div>
				</ion-item>

				<ion-item class="item-avatar-left item-text-wrap item-icon-right item-button-right" 
						  ng-repeat="entrada in entradas | filter: { idEntrada : idEntrada }">
					<p>{{entrada.fechaInicioEntrada}}</p>
					<p><strong>{{entrada.nombreEntrada}}</strong><br>
					<strong>( Swing Maniacs {{entrada.localidadEntrada}} )</strong><br>
					{{entrada.referenciaEntrada}}</p>

					<p>Inicio: {{entrada.fechaInicioEntrada}}<br>
					   Fin: {{entrada.fechaFinalEntrada}}</p>

					<p>{{entrada.diaEntrada}} de {{entrada.horaInicioEntrada}} a {{entrada.horaFinalEntrada}}<br>
						{{entrada.descripcionEntrada}}
					</p>

					<p>Rol: {{entrada.rolEntrada}}</p>
					<p>Estado: {{entrada.estadoEntrada}}</p>
			    </ion-item>
			</div><!-- card -->
		</ion-list>

	</ion-content>
</ion-view>
