<ion-view view-title="">

	<ion-nav-bar class="bar-positive">
		<ion-nav-buttons side="left" >
			<img class='title-image' src='main/assets/images/logo-swing-tr.png' />
			    <!-- width: 96px; height: 100%; overflow: hidden; -->
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
		  <button class="button button-icon ion-ios7-email-outline">
		    <span class="badge badge-assertive" ng-show="{{user.clases}}">{{user.clases.length}}</span>
		  </button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-content class="has-header">
		
		<ion-list> 
			<div class="card">

				<ion-item class="item item-text-wrap">
					<div class="title-item-swing">{{'TUS_CLASES_DE_HOY' | translate}}</div>
				</ion-item>

				<!-- <ion-item class="item item-text-wrap">
					<div class="title-item-swing">VAYA, HOY NO TIENES CLASE :(</div>
					<div class="item-text">
						<p>Sabemos que un día sin bailer puede causar depresión por eso nos hemos esforzado por evitarlo :(</p>
					</div>	
					<div ng-show="{{user.taxisParaTi.length}}">
						<p><strong>Hemos buscado estos TAXIS para tí, apúntate para hoy, las followers te estan esperando : )</strong></p>
					</div>	    
				</ion-item> -->

				<!-- <ion-item class="item item-text-wrap">
					<div class="title-item-swing color-alert">ATENCION DAVID!!!</div>
					<div class="item-text">
						<p>Hemos detectado que igual no puedes llegar a tiempo a tu clase de {{clase.nombreClase}} que empieza a las {{clase.horaInicioClase}} horas.<br>
						<span class="color-alert">Solo faltan {{clase.minutosLeftClase}} minutos para que empiece.</span></p>
					</div>
				</ion-item> -->

		        <ion-item class="item-avatar-left item-text-wrap item-icon-right item-button-right" ng-repeat="curso in cursos">
		              <img src="{{curso.imagenCurso}}">
		              <div class="title-nombre-swing">{{curso.nombreCurso}}<span ng-show="{{curso.invitational}}"><br>(invitational)</span></div>
		              <p>Quedan {{curso.numeroClasesLeft}} clases.</p>
		              <p><strong>Lunes de {{curso.horaInicioClase}} a {{curso.horaFinalClase}}h<br>
		              en SwingManiacs {{curso.localidadCurso}}</strong></p>
		              <i class="icon ion-chevron-right icon-accessory" 
		                  ui-sref="main.cursoDetail({idCurso : curso.idCurso})"></i>
		              <button class="button button-assertive button-small"
		                  ui-sref="main.cursoAvisarFaltaAsistencia({idCurso : curso.idCurso})"
		              >AVISAR FALTA DE ASISTENCIA {{curso.idCurso}}</button>
		        </ion-item>
		        
			</div><!-- card -->
		</ion-list>

		<ion-list>
			<div class="card">

				<ion-item class="item item-text-wrap" ng-show="taxis.length">
					<div class="title-item-swing">HOY TENEMOS TAXIS PARA TI !!!</div>
				</ion-item>

				<ion-item class="item-avatar-left item-text-wrap item-icon-right item-button-right"
						  ng-repeat="taxi in taxis">
					<img src="{{taxi.imagenUrlTaxi}}">
					<div class="title-nombre-swing">{{taxi.nombreTaxi}}</div>
					<p>De {{taxi.horaInicialTaxi}} a {{taxi.horaFinalTaxi}}h<br>
					Solo quedan {{taxi.numeroTaxisLeft}} plazas de taxi, no tardes mucho :)</p>
					<p><strong>La clase empieza en {{taxi.minutosLeftTaxi}} minutos<br>en SwingManiacs {{taxi.localidadTaxi}}</strong></p>
					<!-- <i class="icon ion-chevron-right icon-accessory" href="#/main/cursos/detail"></i> -->

					<button ng-if="!taxi.apuntadoTaxi" 
					        ng-class="{'button button-small button-energized':taxi.rol=='follower', 'button button-calm':taxi.rol=='leader'}"
							ng-click="showAlert()">
						APUNTARME DE TAXI {{ taxi.rol | uppercase }}
					</button>

					<button ng-if="taxi.apuntadoTaxi" class="button button-small button-royal">
						YA ESTÁS APUNTADO :)
					</button>
				</ion-item>

			</div><!-- card -->
		</ion-list>

	</ion-content>

</ion-view>


