<ion-view name="login" title="LOGIN">

  <ion-content class="background-login">
    <form name="myForm" novalidate>
      <div class="padding background-login">
        
        <div class="maxi-width">
          <div class="padding">
            <div class="logo-login">
              <img class="title" src="main/assets/images/logo-main.png">
            </div>    
          </div>

          <label class="padding item-input item-stacked-label">
              <span class="input-label assertive">EMAIL</span>
              <input class="inpad" type="email" name="email" ng-model="user.email" required>
          </label>  


          <label class="padding item-input item-stacked-label">
              <span class="input-label assertive">PASSWORD</span>
              <input type="password" name="password" ng-model="user.password" required>
          </label>    

            <!-- <div class="padding">
                <p ng-show="myForm.email.$error.required" class="assertive">* Username is required</p>
                <p ng-show="myForm.email.$invalid && !myForm.username.$pristine" class="assertive">* Username must be an email address</p>
                <p ng-show="myForm.email.$error.minlength" class="assertive">* Username must be longer than 5 characters</p>
                <p ng-show="myForm.password.$error.required" class="assertive">* Password is required</p>
                <p ng-show="myForm.password.$error.minlength" class="assertive">* Password must be longer than 6 characters</p>
            </div>
            <h5>msgtxt: {{msgtxt}}</h5> -->

          <div class="padding" ng-init="isDisabled = false">
            <button class="button button-block button-assertive icon-right"
                    ng-click="login(user)" ng-disabled="myForm.$invalid">ENTRAR 
                    <i class="ion-ios-arrow-thin-right"></i>
            </button>
            <p class="text-center"><a href="#" ng-click="" class="assertive text-center">Olvidé la contraseña!</a></p>
          </div> 


        </div>


      </div>
    </form>   
  </ion-content>

</ion-view>

