<ion-tabs class="tabs-icon-top tabs-assertive tabs-color-light">

  <ion-tab title="AVISO" icon-off="ion-ios-home balanced" icon-on="ion-ios-home"
    ui-sref="main.aviso">
    <ion-nav-view name="aviso"></ion-nav-view>
  </ion-tab> 

  <ion-tab title="LOGIN" icon-off="ion-ios-home balanced" icon-on="ion-ios-home"
    ui-sref="main.login">
    <ion-nav-view name="login"></ion-nav-view>
  </ion-tab> 

  <ion-tab title="Home" icon-off="ion-ios-home balanced" icon-on="ion-ios-home"
    ui-sref="main.home">
    <ion-nav-view name="home"></ion-nav-view>
  </ion-tab>  

  <ion-tab title="Taxis" icon-off="ion-android-car balanced" icon-on="ion-android-car"
    ui-sref="main.taxis">
    <ion-nav-view name="taxis"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Cursos" icon-off="ion-android-alarm-clock balanced" icon-on="ion-android-alarm-clock"
    href="main/cursos"><!-- ui-sref="main.cursos" -->
    <ion-nav-view name="cursos"></ion-nav-view>
  </ion-tab> 
 
  <ion-tab title="Carnet" icon-off="ion-ios-barcode balanced" icon-on="ion-ios-barcode"     
  ui-sref="main.carnet">     
     <ion-nav-view name="carnet"></ion-nav-view>   
  </ion-tab>
  
  <ion-tab title="Ajustes" icon-off="ion-ios-gear-outline balanced" icon-on="ion-ios-gear-outline"
    ui-sref="main.ajustes">
    <ion-nav-view name="ajustes"></ion-nav-view>
  </ion-tab> 

</ion-tabs>
