<ion-view view-title="TAXIS" class="">

	<ion-nav-bar class="bar-positive">
	    <ion-nav-buttons side="left" >
	      <button class="button button-icon icon ion-ios-arrow-thin-left button-clear"></button>
	    </ion-nav-buttons>

	    <ion-nav-buttons side="right">
	      <button class="button button-icon ion-ios7-email-outline">
	        <span class="badge badge-assertive">{{taxis.length}}</span>
	      </button>
	    </ion-nav-buttons>
	</ion-nav-bar>

  	<ion-content class="has-header">

		<ion-list>
			<div class="card">

				<ion-item class="item item-text-wrap" ng-show="{{user.taxisParaTi.length}}">
					<div class="title-item-swing">TAXIS DISPONIBLES PARA HOY</div>
					<div class="subtitle-item-swing"><p>Espabilando que me los quitan de las manos!</p></div>
				</ion-item>

				<ion-item class="item-avatar-left item-text-wrap item-icon-right item-button-right"
						  ng-repeat="taxi in taxis">
					<img src="{{taxi.imagenUrlTaxi}}">
					<div class="title-nombre-swing">{{taxi.nombreTaxi}}</div>
					<p>De {{taxi.horaInicialTaxi}} a {{taxi.horaFinalTaxi}}h<br>
					Solo quedan {{taxi.numeroTaxisLeft}} plazas de taxi, no tardes mucho :)</p>
					<p><strong>La clase empieza en {{taxi.minutosLeftTaxi}} minutos<br>en SwingManiacs {{taxi.localidadTaxi}}</strong></p>
					<!-- <i class="icon ion-chevron-right icon-accessory" href="#/main/cursos/detail"></i> -->
						
						<button ng-if="!taxi.apuntadoTaxi" 
						        ng-class="{'button button-small button-energized':taxi.rol=='follower', 'button button-calm':taxi.rol=='leader'}"
								ng-click="showAlert()">
							APUNTARME DE TAXI {{ taxi.rol | uppercase }}
						</button>

						<button ng-if="taxi.apuntadoTaxi" class="button button-small button-royal">
							YA ESTÁS APUNTADO :)
						</button>
				</ion-item>

			</div><!-- card -->
		</ion-list>

	</ion-content>
</ion-view>